body {
    background-color: black;
}

table #hwdLightTable{
    width: 80%;
    height: 10%;
    margin: auto;
    margin-top: 20%;
    border: 1px solid #ffffff;
}

th, td {
    border: 1px solid #444444;
}
